---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <p class="copyright">
        &copy; Sakurai. 
      </p>
    </div>
    <div>
      <section>
        <h2>About Sakurai</h2>
        <div>
          Hi there! I’m an illustrator specializing in both Japanese anime style and 1880s Victorian-themed artwork. My work blends the charm of cute, vibrant anime characters with the elegance and detail of Victorian-era girls, bringing each to life with intricate lines and rich details.
          <br>

In my anime illustrations, I love capturing the energy and innocence of the characters, using bright colors and dynamic compositions to showcase their unique personalities. When it comes to Victorian style, I focus on the intricacies of fashion and the atmosphere of the era, recreating the romantic and graceful spirit of the 1880s. Whether it's a dreamy anime girl or an elegant Victorian lady, I strive to tell a story with each piece and create a captivating visual experience.
          大家好！我是一个插画师，擅长绘制日系动漫风格和1880年代维多利亚风格的作品。我的创作涵盖了可爱的二次元角色和优雅复古的维多利亚少女，通过细腻的笔触和丰富的细节，让每个角色都充满生命力与个性。
          <br>
在日系动漫中，我喜欢捕捉角色的活力和纯真，用鲜艳的色彩和动态的构图表现出角色的独特魅力。而在1880年代维多利亚风格的作品中，我专注于服饰细节和时代氛围，再现那个充满浪漫与优雅的过去时代。无论是梦幻的日式少女，还是优雅的维多利亚淑女，我都力求每一幅作品都带来故事感与视觉享受。
        </div> 
      </section>
    </div>
  </div>
</footer>
